/* General page styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4CAF50;
}

p {
    font-size: 1.2em;
    margin-top: 20px;
    color: #777;
}

a {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #45a049;
}

/* Additional spacing and layout */
.container {
    text-align: center;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
}

.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-item {
    margin: 15px 0;
}
.github-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: inline-block;
    width: 40px;
    height: 40px; 
    background-color: transparent;
}

.github-button:hover {
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s ease;
}

.github-button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: transform 0.2s ease;
}

.github-button:hover img {
    transform: scale(1.1);
}
